@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<div class="text-center">

    <a href="/Mobil/Index"> Lihat mobil pake href </a>

    <br />

    <a asp-controller="Mobil" asp-action="Index"> Lihat mobil dari asp </a>

    <br />

    <a asp-controller="Admin" asp-action="Home"> Area admin</a>

</div>
