@model Blog

    <h1>Ubah blog</h1>

    <form asp-action="Ubah">
        <input type="hidden" asp-for="Id" />
        <input asp-for="Title" />
        <input asp-for="Content" />
        <input type="hidden" asp-for="CreateDate" />
        <input asp-for="Status" />
        <input type="submit" value="Simpan" />
    </form>